/* STYLING THE MAP */
.map {
    position:absolute;
    top: 0;
    bottom:0;
    width: 100%;
}
/* STYLING THE MAP OVERLAY SEARCH BAR, GEOCODER, and RETURN BUTTON */
.map-overlay-search {
    position: absolute;
    font: 15px/20px 'Times New Roman', sans-serif;
    background: white;
    top: 0;
    width: 280px;
    left: 0;
    margin: 10px 0 0 10px;
    padding: 10px;
    overflow: visible;
<<<<<<< HEAD
=======
}

.distance-panel {
    position: relative;
    font: 20px 'Times New Roman', sans-serif;
    color: #3bb2d0;
    display: block;
}


.distance-container {
    position: relative;
    z-index: 1;
    width: 250px;

}
     
.distance-container > * {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font: 15px 'Times New Roman', sans-serif;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
>>>>>>> parent of 002ac5f (Home page &styling updated)
}

.geocoder {
    position: relative;
    margin: 10px 0 10px;
}

#returnbutton {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
}


/* Styling the legend and its necessary components */
.legend {
    position: relative; 
    background-color: #fff;
    border-radius: 3px;
    bottom: 0;
    width: 260px;
    margin-bottom: 30px;
    font: 15px/20px 'Times New Roman', sans-serif;
    padding: 10px;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend-key {
    display: inline-block;
    border-radius: 50%; /*Styling the border of the legend such that it curves*/
    height: 10px; /*Styling the size of the circle*/
    width: 10px;
    margin-right: 5px; /*Styling the positon of the circle*/
}
/*styling .map-overlay-data data*/
.map-overlay-data {
    position: absolute;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    width: 280px;
    top: 150px;
    left: 10px;
    margin-top: 10px;
    padding: 10px;
    overflow: visible;
}
